5th Semister/CCE-313,314/Sobuz Sir/Course 3 IP V4 and IPV6 Updated.pptx
5th Semister/CCE-313,314/Sobuz Sir/Course 3 IP V4 and IPV6 Updated.pptx
5th Semister/CCE-313,314/Sobuz Sir/Course 3 IP V4 and IPV6 Updated.pptx
auto_push.ps1
5th Semister/CCE-310 (Project)/Sabuj Sir/Medicore/Presentation video.mp4
5th Semister/CCE-310 (Project)/Sabuj Sir/Medicore_Project_Proposal (2102066) (1).docx
5th Semister/CCE-310 (Project)/Sabuj Sir/Medicore_Project_Proposal (2102066) (1).docx
5th Semister/CCE-310 (Project)/Sabuj Sir/Slide voice/Slide 2-enhanced-v2.wav
4th Semister/CIT-221/Chinmoy Bepary/Project/ABC_Medical/ABC_Medical/
5th Semister/CCE-310 (Project)/Sabuj Sir/Medicore_Project_Proposal.docx
5th Semister/CCE-310 (Project)/Sabuj Sir/Medicore_Project_Proposal (2102066).docx
5th Semister/CCE-310 (Project)/Sabuj Sir/Medicore_Project_Proposal.docx
5th Semister/CCE-311,312(Numerical Method)/Murad Sir/Numerical Method Shorif Bhai (AK).pdf
5th Semister/CCE-310 (Project)/Sabuj Sir/Medicore/logo.png
5th Semister/CCE-310 (Project)/Sabuj Sir/Medicore/logo.png
5th Semister/CCE-310 (Project)/medicore_full.zip
5th Semister/CCE-310 (Project)/medicore_full.zip
4th Semister/DLD (Sabuz Sir)/Assignment/2102066 - Assignment 1.docx
5th Semister/CCE-310 (Project)/medicore_full.zip
5th Semister/CCE-310 (Project)/Sabuj Sir/Medicore/ER diagram.png
5th Semister/CCE-310 (Project)/Sabuj Sir/Slide voice/Slide 4-enhanced-v2.wav
5th Semister/CCE-313,314(Networking)/CCE-313-Computer-Networks-IP-Subnetting.mp4
5th Semister/CCE-313,314(Networking)/Sessional/2102066.mp4
5th Semister/CCE-313,314(Networking)/Sessional/2102066.zip
5th Semister/CCE-313,314(Networking)/Sessional/IMG_6370.MOV
5th Semister/CCE-313,314(Networking)/Sessional/Packet_Tracer822_64bit_setup_signed.exe
5th Semister/CCE-310 (Project)/Sabuj Sir/medicore.zip
5th Semister/CCE-313,314(Networking)/Sessional/pronad1_Academic_PSTU_CSE_main_5th_Semester_ma'am_assignment_Socket/Remote Calculator.zip
5th Semister/CCE-313,314(Networking)/Sessional/rdt-lab/Reliable-Data-Transfer-Protocol.mp4
5th Semister/CCE-313,314(Networking)/Sessional/rdt-lab/Reliable-Data-Transfer-Protocol.pptx
5th Semister/CCE-313,314(Networking)/Sessional/rdt-lab/tempCodeRunnerFile.py
5th Semister/CCE-313,314(Networking)/Sessional/Remote-Calculator-Socket-CLI-Flask-Web-UI.(only slide)pptx.pptx
5th Semister/CCE-313,314(Networking)/Sessional/Remote-Calculator-Socket-CLI-Flask-Web-UI.pptx
5th Semister/CCE-313,314(Networking)/Sessional/Sorna/10.2.1.8 Packet Tracer - Web and Email.pka
5th Semister/CCE-313,314(Networking)/Sessional/Sorna/10.2.2.8 Packet Tracer - DNS and DHCP.pka
5th Semister/CCE-313,314(Networking)/Sessional/Sorna/10.2.3.2 Packet Tracer - FTP.pka
5th Semister/CCE-313,314(Networking)/Sessional/pronad1_Academic_PSTU_CSE_main_5th_Semester_ma'am_assignment_Socket/Remote Calculator/Remote-Calculator-Socket-CLI-Flask-Web-UI.(only slide)pptx.pptx
5th Semister/CCE-313,314(Networking)/Sessional/pronad1_Academic_PSTU_CSE_main_5th_Semester_ma'am_assignment_Socket/Remote Calculator/Remote-Calculator-Socket-CLI-Flask-Web-UI.(only slide)pptx.pptx
5th Semister/CCE-313,314(Networking)/Sessional/pronad1_Academic_PSTU_CSE_main_5th_Semester_ma'am_assignment_Socket/Remote Calculator/Remote-Calculator-Socket-CLI-Flask-Web-UI.(only slide)pptx.pptx
Farm/Video Class/2026-02-09 10-08-48/2026-02-09 10-08-48.mp4
6th Semister/EEE (321-322)  Digital Electronics and Pulse Techniques/Sessional/video/2026-06-09 11-04-00.mp4
/6th Semister/EEE (321-322)  Digital Electronics and Pulse Techniques/Sessional/video
5th Semister/CIT-311,312(Microprossors)/Chinmoy Sir/Microprocessors And Interfacing (chinmoy Sir).pdf
5th Semister/CIT-311,312(Microprossors)/Lab/Assembly_Language/
