5th Semister/CCE-313,314/Sobuz Sir/Course 3 IP V4 and IPV6 Updated.pptx
5th Semister/CCE-313,314/Sobuz Sir/Course 3 IP V4 and IPV6 Updated.pptx
5th Semister/CCE-313,314/Sobuz Sir/Course 3 IP V4 and IPV6 Updated.pptx
auto_push.ps1
5th Semister/CCE-310 (Project)/Sabuj Sir/Medicore/Presentation video.mp4
5th Semister/CCE-310 (Project)/Sabuj Sir/Medicore_Project_Proposal (2102066) (1).docx
5th Semister/CCE-310 (Project)/Sabuj Sir/Medicore_Project_Proposal (2102066) (1).docx
5th Semister/CCE-310 (Project)/Sabuj Sir/Slide voice/Slide 2-enhanced-v2.wav
4th Semister/CIT-221/Chinmoy Bepary/Project/ABC_Medical/ABC_Medical/
5th Semister/CCE-310 (Project)/Sabuj Sir/Medicore_Project_Proposal.docx
5th Semister/CCE-310 (Project)/Sabuj Sir/Medicore_Project_Proposal (2102066).docx
5th Semister/CCE-310 (Project)/Sabuj Sir/Medicore_Project_Proposal.docx
5th Semister/CCE-311,312(Numerical Method)/Murad Sir/Numerical Method Shorif Bhai (AK).pdf
5th Semister/CCE-310 (Project)/Sabuj Sir/Medicore/logo.png
5th Semister/CCE-310 (Project)/Sabuj Sir/Medicore/logo.png
